{%- assign has_social = false -%}
{%- if settings.social_instagram_link != blank or settings.social_tiktok_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank -%}
  {%- assign has_social = true -%}
{%- endif -%}

{%- if has_social -%}
  <nav class="social-links" aria-label="{{ 'general.social.links' | t }}">
    {%- if settings.social_instagram_link != blank -%}<a href="{{ settings.social_instagram_link }}" rel="noopener" target="_blank">Instagram</a>{%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}<a href="{{ settings.social_tiktok_link }}" rel="noopener" target="_blank">TikTok</a>{%- endif -%}
    {%- if settings.social_facebook_link != blank -%}<a href="{{ settings.social_facebook_link }}" rel="noopener" target="_blank">Facebook</a>{%- endif -%}
    {%- if settings.social_pinterest_link != blank -%}<a href="{{ settings.social_pinterest_link }}" rel="noopener" target="_blank">Pinterest</a>{%- endif -%}
  </nav>
{%- endif -%}
