<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>
    {{ content_for_header }}
    {%- render 'font-preloads' -%}
    {%- render 'css-variables' -%}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'component-button.css' | asset_url | stylesheet_tag }}
    {{ 'component-form.css' | asset_url | stylesheet_tag }}
    {{ 'utilities.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="template-password" data-animations="{{ settings.enable_animations }}">
    <main id="MainContent" class="main-content" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>
