<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- render 'meta-tags' -%}
    {%- render 'font-preloads' -%}
    {{ content_for_header }}
    {%- render 'css-variables' -%}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'component-button.css' | asset_url | stylesheet_tag }}
    {{ 'component-form.css' | asset_url | stylesheet_tag }}
    {{ 'component-card.css' | asset_url | stylesheet_tag }}
    {{ 'component-media.css' | asset_url | stylesheet_tag }}
    {{ 'utilities.css' | asset_url | stylesheet_tag }}
    {{ 'animations.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="template-{{ template.name | handle }}" data-animations="{{ settings.enable_animations }}">
    <a class="skip-to-content-link button button--text" href="#MainContent">{{ 'accessibility.skip_to_text' | t }}</a>

    <main id="MainContent" class="main-content" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>
