<section class="section-spacing">
  <div class="page-width customer-layout">
    <h1>{{ 'templates.customers.account' | t }}</h1>
    <p><a href="{{ routes.account_logout_url }}">{{ 'templates.customers.logout' | t }}</a> | <a href="{{ routes.account_addresses_url }}">{{ 'templates.customers.addresses' | t }}</a></p>
    <h2>{{ 'templates.customers.orders' | t }}</h2>
    {%- if customer.orders.size > 0 -%}
      <div class="customer-card">
        {%- paginate customer.orders by 20 -%}
          {%- for order in customer.orders -%}
            <p><a href="{{ order.customer_url }}">{{ order.name }}</a> - {{ order.created_at | date: format: 'date' }} - {{ order.total_price | money }}</p>
          {%- endfor -%}
          {% render 'pagination', paginate: paginate %}
        {%- endpaginate -%}
      </div>
    {%- else -%}<p>{{ 'templates.customers.no_orders' | t }}</p>{%- endif -%}
  </div>
</section>

{% schema %}
{ "name": "Customer account" }
{% endschema %}
