<section class="section-spacing">
  <div class="container">
    <h1>{{ 'templates.search.title' | t }}</h1>
    <form action="{{ routes.search_url }}" method="get" role="search" class="field mb-6">
      <label class="field__label" for="Search-In-Template">{{ 'general.search.search' | t }}</label>
      <input class="input" id="Search-In-Template" type="search" name="q" value="{{ search.terms | escape }}">
      <button class="button" type="submit">{{ 'general.search.search' | t }}</button>
    </form>
    {%- if search.performed -%}
      <p class="caption">{{ search.results_count }} results</p>
      {%- paginate search.results by 24 -%}
        <div class="grid grid--4">
          {%- for item in search.results -%}
            <article class="card">
              <h2 class="h5"><a href="{{ item.url }}">{{ item.title }}</a></h2>
              {%- if item.object_type == 'product' -%}<p>{{ item.price | money }}</p>{%- endif -%}
            </article>
          {%- endfor -%}
        </div>
      {%- endpaginate -%}
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Main search",
  "settings": []
}
{% endschema %}
