<section class="section-spacing">
  <div class="page-width customer-layout">
    <h1>{{ 'templates.customers.create_account' | t }}</h1>
    <div class="customer-card">
      {%- form 'create_customer', class: 'product-form' -%}
        {{ form.errors | default_errors }}
        <label class="field" for="RegisterFirstName">{{ 'templates.customers.first_name' | t }}<input id="RegisterFirstName" type="text" name="customer[first_name]" autocomplete="given-name"></label>
        <label class="field" for="RegisterLastName">{{ 'templates.customers.last_name' | t }}<input id="RegisterLastName" type="text" name="customer[last_name]" autocomplete="family-name"></label>
        <label class="field" for="RegisterEmail">{{ 'templates.customers.email' | t }}<input id="RegisterEmail" type="email" name="customer[email]" autocomplete="email"></label>
        <label class="field" for="RegisterPassword">{{ 'templates.customers.password' | t }}<input id="RegisterPassword" type="password" name="customer[password]" autocomplete="new-password"></label>
        <button class="button" type="submit">{{ 'templates.customers.register' | t }}</button>
      {%- endform -%}
    </div>
  </div>
</section>

{% schema %}
{ "name": "Customer register" }
{% endschema %}
